<template name="chatbox">
  <div id="chatbox-container" class="span3 hidden">
    <div class="chatbox-header">
      <div class="chatbox-title">Chat Box</div>
      <div class="chatbox-min"><!-- 一 --></div>
    </div>
    <div class="chatbox-content">
      <ul>
        {{#each messages}}
          <li><span><b>{{user}}</b> <!-- [{{timestamp}}] -->:</span> {{text}}</li>
        {{/each}}
      </ul>
    </div>
    <input type="text" id="chatbox-input" class="span3" placeholder="Type here">
  </div>
</template>
