<template name='codeMirror'>
  <div id='editorInstance'></div>
  <div>
  	<select id="syntaxHighlight">
      <option value="text/x-python">Python</option>
      <option value="text/x-java">Java</option>
      <option value="text/x-c++src">C&#43&#43</option>
      <option value="text/x-ruby">Ruby</option>
      <option value="application/x-httpd-php">PHP or HTML</option>
      <option value="text/x-csrc">C</option>
      <option value="javascript">JavaScript</option>
      <option value="text/x-csharp">C&#35</option>
      <option value="text/x-perl">Perl</option>
      <option value="text/css">CSS</option>
    </select>
  </div>
</template>