<template name="navigation">
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#menu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div id="navbarLeft">
        <ul>
          <li><a href="index.html"><img src="logo.png" width="100px"></a></li>
        </ul>
      </div>
      <div id="navbarRight">
        <ul>
          <li><a href="gettingStarted.html">Getting Started</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="meetTheTeam.html">Meet the Team</a></li>
          <li><a href="contact.html">Contact</a></li>
          <!-- <li><a href="index.html"><img src="logo.png" width=115></a></li> -->
        </ul>
      </div>
    </div>
  </div>
</template>
