<template name="navigation">
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <img src="images/sliderWhite.png" width="18px" height="18px" class="btn btn-navbar" data-toggle="collapse" data-target="#menu">
      <!-- <p class="navbar-text pull-right">
        <img src="images/gearIcon.png" width="18px" height="18px" class="btn btn-navbar">
      </p>
      <p class="navbar-text pull-right">
        <a href="#" id="username-navlink" class="navbar-link">{{session "username"}}</a>
        <a id="logout" class="navbar-link" href="#">Logout</a>
      </p> -->
      
      <ul class="nav">
        <li><img src="images/logo.png" width="120px"></li>
        <li><a data-toggle="modal" data-keyboard="true" data-backdrop="true" href="#gettingStarted">help</a></li>
        <li><a data-toggle="modal" data-keyboard="true" data-backdrop="true" href="#about">about</a></li>
        <li><a data-toggle="modal" data-keyboard="true" data-backdrop="true" href="#contact">contact</a></li>
      </ul>
      <div id="preview-btn-container" class="navbar-text pull-right">
        {{> preview}}
      </div>
    </div>
  </div>


<!-- MODAL BOXES-->

<!-- GETTING STARTED -->

  <div id="gettingStarted" class="modal hide fade" tab index="-1">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">x</button>
      <h2>Getting Started</h2>
    </div>
    <div id="feature-intro" class="modal-body">
      <h4>CoCo DoJo is a collaborative code editor aiming for simplicity.</h4>
      <ul>
        <li>
          <strong>Code Collaboration</strong><br>
          To code collaboratively, just copy the URL and paste it to your friends. They can see everything you type and visa versa.  That's it!
        </li>
        <li>
          <strong>Realtime Chatting</strong><br>
          You can also chat with your buddies using the chat box at the lower right corner. Your name will show as Anonymous. You will also find your display name at the higher right corner. To change your display name, simply click on it. 
        </li>
        <li>
          <strong>GitHub Integration</strong><br>
          Do you want to look at code that resides in your GitHub account?  Click the GitHub toggle on the upper left of the navigation bar and then log into your account.  Select a repository and then you can import the source code directly into our code editor's window.  After you have made the changes you can commit the files back to GitHub!
        </li>
        <li>
          <strong>Preview Your Website or JavaScript Application</strong><br>
          If you would like to see the changes you made, we have given you the ability to preview your website.  Just click the preview button to see what your site looks like before commiting to GitHub.
        </li>
      </ul>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Close</button>
    </div>
  </div>

<!-- ABOUT US -->
<!-- I still need to convert the styles
here to CSS stylesheets -->

  <div id="about" class="modal hide fade" tab index="-1">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">x</button>
      <h2>About Coco Dojo</h2>
    </div>
    <div class="modal-body">
      <h3>Our Focus:</h3>
      <p>Our goal is to allow you to quickly share and edit code with anyone!  We strive to make it easy for you to jump directly on our site and quickly get going.  No need to create a new account or setup an environment.  Since we have designed this for developers, it is easily integrated with GitHub.  Load your repository, edit it with team mates, and then commit the changes painlessly!  Collaborating remotely was never so easy!</p>
      <h3>Inception:</h3>
      <p>Coco Dojo has started development in May 2013 with partner MadEye contributing to the vision and technical guidance.  The idea for Coco Dojo came from our team trying to think of a way to showcase Meteor's framework and ultimately win an HTML5 hackathon.  Since Meteor's product is designed to synchronize data effectively we created a collaborative coding space and drawing whiteboard. Team Coco Dojo ended up winning overall first place as well as "Audience Favorite."  After the hackathon win we were approached by many developers and companies pushing us to keep developing our product.  There was instantly value for developers and many wanted to already start using our software!  That is how it all started</p>
      <h3>Meet the Team:</h3>
      <img id="team-photo" src="images/teamCoco.jpg">
      <p align="left">Back row, from left: Clyde, Dan, Sean, and Sky; Front row: Lydian</p>
      <p><strong><font size="5">Lydian Lee</font> - Software Engineer, Back End</strong><br>
      <a href="mailto:lydian.lee@sv.cmu.edu">lydian.lee@sv.cmu.edu</a></p>
      </p>Lydian is an up and coming software engineer that will infiltrate the ranks of Yelp after graduating in August.  She is currently finishing her second Masters Degree, this one in Software Engineering; her previous masters was in Computer Science from National Taiwan University.  Lydian has industry experience as an engineer at Otiga Technologies, one of the largest wireless providers in Taiwan and has also taught Database Systems, Data Structures, and Algorithms at her alma mater.  In her free time Lydian loves to go hiking and cook with her boyfriend Brian.</p><br>
      <p><strong><font size="5">Sky Hu</font> - Software Engineer, Full Stack</strong><br>
      <a href="mailto:sky.hu@sv.cmu.edu">sky.hu@sv.cmu.edu</a></p>
      <p>Sky is a software engineer with a knack for front end designs.  He is currently getting his Masters Degree in Software Engineering from Carnegie Mellon University, Silicon Valley (CMU SV).  In addition to the normal curriculum, Sky also has a graduate assistant position where he is developing on Mac OS X.  And also has a BS in Computer Science from Simon Fraser University in British Columbia, Canada.  While in Canada, Sky worked for Research in Motion as a web developer.  When he is not at school or work, Sky loves to cook and dance with his wife, whom he recently married!!!</p><br>
      <p><strong><font size="5">Sean Xiao</font> - Generalist Software Engineer</strong><br>
      <a href="mailto:xiao@sv.cmu.edu">xiao@sv.cmu.edu</a></p>
      <p>Sean is an industry experienced software engineer who knows over 10 programing languages and picks up new ones very quickly.  Sean is becoming a software development guru by being familiar with both front-end, back-end, and all main stream web development languages.  He is obtaining a Masters Degree in Software Engineering from CMU SV and at the same time his startup sells all kinds of iOS applications.  After getting his Bachelors of Engineering from Wuhan University, in China, Sean worked as a senior engineer at Baidu for over two years.  As an avid video gamer, especially the Final Fantasy saga, Sean also plays table tennis and basketball.  He has been known to quickly solve software problems nagging teams after taking a quick basketball break to clear his mind!</p><br>
      <p><strong><font size="5">Clyde Li</font> - Chief Technical Officer</strong><br>
      <a href="mailto:clyde.li@sv.cmu.edu">clyde.li@sv.cmu.edu</a></p>
      <p>One of Clyde’s long term career goals is to enhance the user experiences in web applications.  He is finishing up his Masters Degree in Software Engineering from CMU SV to compliment his BS in Electrical Engineering from National Taiwan University.  While at his previous school, Clyde was one of only 15 selected for the Google Mentorship program.  Before moving to the US Clyde served in the national military and was a research assistant at the “Intel-NTU Connected Context Computing Center.”  In his spare time Clyde loves to play his favorite sport basketball, or go cycling and hiking.  As a renaissance man, he listens to a wide variety including Post, British, and Indie rock and also enjoys photography, cooking, and reading.</p><br>
      <p><strong><font size="5">Dan Fortner</font> - Project Manager</strong><br>
      <a href="mailto:daniel.fortner@sv.cmu.edu">daniel.fortner@sv.cmu.edu</a></p>
      <p>Dan is an experienced business manager with a technical software development background.  He is currently finishing his masters in Software Management from CMU SV and is considering offers in Sales Engineering and Product Management.  Dan’s background in software engineering specializes in Java development as well as Ruby on Rails.  In addition to his BA in Telecommunications from Rhode Island College, he also competed on the NCAA D3 Wrestling team.  His industry experience stems from retail, sales, and restaurant management.  In his last job as Senior Manager at Bubba Gump Shrimp company Dan developed software that provides customizable and dynamic sales goals for all 32 stores.  Dan also has a unique supplementary set of skills in video production, graphic design, sales, and social media marketing.  For fun he loves to race his M3 at Laguna Seca and at local autocross competitions and will participate in any adrenaline sport.</p>
      <hr>
      <h2>Press Release</h2>
        <strong><p>Press Release from SF Gate newspaper<br>
        <a href="http://www.prweb.com/releases/2013/4/prweb10673889.htm" target="_blank">http://www.prweb.com/releases/2013/4/prweb10673889.htm</a></p>
        Article from Carnegie Mellon Silicon Valley site<br>
        <a href="http://www.cmu.edu/silicon-valley/news-events/news/2013/post-hackathon.html" target="_blank">http://www.cmu.edu/silicon-valley/news-events/news/2013/post-hackathon.html</a></strong>
      <hr>
      <h2>Partners</h2>
      <ul id="parnters">
        <li><a href="http://www.cmu.edu/silicon-valley/index.html" target="_blank"><img src="images/cmu_logo.png"></a></li>
        <li>
          <span style="font-family:Helvetica; font-size:38.8px;">
            <a href="http://madeye.io/" target="_blank">MadEye</a> 
          </span>
          <span style="color:#999; font-family:Helvetica; font-size:24.5px;">Remote pair programming</span>
          </a>
        </li>
        <li><a href="http://www.apportable.com/" target="_blank"><img src="images/apportable.png"></a></li>
        <li><a href="http://www.meteor.com/" target="_blank"><img src="images/meteorjs.jpeg"></a></li>
        </li>
        <li><span style="font-size:30px; "><a href="http://www.cmu.edu/silicon-valley/faculty-staff/fong-wendy.html" target="_blank">Wendy Fong</a></span>
        </li>
      </ul>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Close</button>
    </div>
  </div>

<!-- CONTACT US -->

  <div id="contact" class="modal hide fade" tab index="-1">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">x</button>
      <h2>Contact Us <a id="report-bugs" href="https://docs.google.com/forms/d/1F-QMGWansl0mgw06U6v9nNDG6eaaTUz073r2BhhkcLw/viewform" target="_blank">Report a Bug</a></h2>
    </div>
    <div class="modal-body">
      <p>We always love to hear feedback; the good, bad, and the ugly!  Our application is made by developers for developers, we want to hear from you!  Feel free to write us in Chinese as well!!  您也可以用中文來和我們交流哦</p>
      <p>For general feedback, support, partnership opportunities, or basically anything: <strong><a href="mailto:team-cocodojo@west.cmu.edu">team-cocodojo@west.cmu.edu</a></strong></p>
      <p>Or if you know whom you want to talk to:</p>
      <br>
      <strong>
        <p>Dan Fortner - Project Manager<br>
        <a href="mailto:daniel.fortner@sv.cmu.edu">daniel.fortner@sv.cmu.edu</a></p>
        <br>
        <p>Clyde Li - Chief Technical Officer<br>
        <a href="mailto:clyde.li@sv.cmu.edu">clyde.li@sv.cmu.edu</a></p>
        <br>
        <p>Sean Xiao - Generalist Software Engineer<br>
        <a href="mailto:xiao@sv.cmu.edu">xiao@sv.cmu.edu</a></p>
        <br>
        <p>Sky Hu - Software Engineer, Full stack<br>
        <a href="mailto:sky.hu@sv.cmu.edu">sky.hu@sv.cmu.edu</a></p>
        <br>
        <p>Lydian Lee - Software Engineer, Back End<br>
        <a href="mailto:lydian.lee@sv.cmu.edu">lydian.lee@sv.cmu.edu</a></p>
      </strong>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal">Close</button>
    </div>
  </div>

</template>
