<template name="repoview">
  <div class="dropdown" id="foldmenu">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <li><a tabindex="-1" href="#">Action</a></li>
      <li><a tabindex="-1" href="#">Another action</a></li>
    </ul>
  </div>

  <div class="collapse-inner fuelux">
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        {{#if currentUser}}
            {{>githubLogin}}
        {{else}}
        {{loginButtons}}
          <a href="#" id="login">Sign In With Github</a>
        {{/if}}
      </div>
    </div>
    {{>commitBox}}
    <div id="ex-tree" class="tree">
    </div>
  </div>
</template>
