<template name="repoview">
  <div class="collapse-inner fuelux">
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        {{#if currentUser}}
          <a data-toggle="modal" data-keyboard="true" data-backdrop="true" href="#repoTree">Select Repo</a>
        {{else}}
          {{loginButtons}}
        {{/if}}
      </div>
    </div>
    <div id="ex-tree" class="tree">
      <div class="tree-folder" style="display:none;">
        <div class="tree-folder-header">
          <i class="icon-folder-close"></i>

          <div class="tree-folder-name"></div>
        </div>
        <div class="tree-folder-content"></div>
        <div class="tree-loader" style="display:none">
        </div>
      </div>
      <div class="tree-item" style="display:none;">
        <i class="tree-dot"></i>
        <div class="tree-item-name"></div>
      </div>
    </div>
  </div>
</template>
