<template name="userList">
  <div id="user-container">
    {{#each users}}
      {{#if isMe}}
        <div id="my-user-instance" class="user-instance" title="Hi {{username}}, click to change your name" data-placement="right">
          <div style="border-left: 6px solid {{userColor}};" class="user-initial" data-id="{{ _id }}">  {{initial}}
          </div>
        </div>
      {{else}}
        <div class="user-instance" title="{{username}}" data-placement="right">
          <div style="border-left: 6px solid {{userColor}};" class="user-initial" data-id="{{ _id }}">  {{initial}}
          </div>
        </div>
      {{/if}}

    {{/each}}
  </div>
</template>
