<template name="video">
  <div id="video-container">
    <div id="opentok_console" style="display: none;">
      <div id="links">
        <input type="button" value="Connect" id ="connectLink" />
        <input type="button" value="Leave" id ="disconnectLink" />
        <input type="button" value="Start Publishing" id ="publishLink" />
        <input type="button" value="Stop Publishing" id ="unpublishLink" />
      </div>
      <div id="myCamera" class="publisherContainer"></div>
      <div id="subscribers"></div>
    </div>

    {{#each users}}
      <div class="video-instance">
        <div style="border-left: 1.2em solid {{userColor}};" class="video-username" data-id="{{ _id }}">  {{username}}
        </div>
      </div> <br>
    {{/each}}
  </div>

  <div id="join-video" style="display: none;"><div>Share my Webcam</div></div>
</template>
