<template name="whiteboard">
  <div id="whiteboard-container">
    <div id="canvas">
      <div class="buttons">
        <!-- find icons here: https://surechem.uservoice.com/knowledgebase/articles/85754-drawing-tool-icons -->
        <a href="#" class="btn" id="lineButton"><img src="images/line.png" /></a>
        <a href="#" class="btn" id="randomLineButton"><img src="images/randomLine.png" /></a>
        <a href="#" class="btn" id="trashButton"><img src="images/trash.png" /></a>
      </div>
    </div>
    <div id="wb-pin-btn"><img src="images/pin-btn.png"></div>
  </div>
</template>
