<template name="whiteboard">
  <div id="whiteboard-container">
    <div id="canvas">
      <div class="buttons">
        <!-- find icons here: https://surechem.uservoice.com/knowledgebase/articles/85754-drawing-tool-icons -->
        <input type="button" value="line" name="image" id="lineButton">
        <input type="button" value="pencil" name="image" id="randomLineButton">
        <input type="button" value="trash.png" name="image" id="trashButton">
      </div>
    </div>
    <div id="slider" class="well"></div>
  </div>
</template>
