#chatbox-container{
  position: absolute; bottom: 0; right: 160px;
  background-color: #fff;
  border-radius: 3px 3px 0 0 ;
  z-index: 3;
  height: auto;
}

#chatbox-container.hidden{

}

.chatbox-header {
  background-color: #333; color: #eee;
  width: 100%; height: 2em; font-weight: 700;
  border-radius: 2px 2px 0 0;
}

.chatbox-title {
  float:left; margin: 3px;
}
.chatbox-min {
  float:right; margin: 3px;
  cursor: pointer;
}

.chatbox-content {
  width: 100%;
  height: 280px;
}

#chatbox-container.hidden .chatbox-content {
  display: none
}

#chatbox-input {
  margin: 1px 0;
}

#chatbox-container.hidden #chatbox-input {
  display: none;
}

/*
#whiteboard-container:hover {
  width: 85%; height: 80%;
  position: absolute; top: 0; left: 20%;
}

#whiteboard-container #canvas{
  width: 0; height: 0;
  opacity: 0;
}
#whiteboard-container:hover #canvas{
  width: 100%; height: 100%;
  opacity: 1;
}

#whiteboard-container .well {
  display: none;
}
*/
