#chatbox-container{
  position: absolute; bottom: 0; right: 160px;
  background-color: #fff;
  border-radius: 3px 3px 0 0 ;
  z-index: 3;
  height: auto;
}

#chatbox-container.hidden{

}

.chatbox-header {
  background-color: #333; color: #eee;
  width: 100%; height: 2em; font-weight: 700;
  border-radius: 2px 2px 0 0;
}

.chatbox-title {
  float:left; margin: 3px;
}
.chatbox-min {
  float:right; margin: 3px;
  cursor: pointer;
}

.chatbox-content {
  width: 100%;
  height: 280px;
  overflow-y: auto;
}

.chatbox-content > ul {
  list-style: none;
  margin: 0;
}

.chatbox-content > ul > li {
  padding: 0.2em;
}

.chatbox-content > ul > li:nth-child(even) {
  background-color: #eee;
}

#chatbox-container.hidden .chatbox-content {
  display: none
}

#chatbox-input {
  margin: 1px 0;
}

#chatbox-container.hidden #chatbox-input {
  display: none;
}
