#syntaxHighlight{
	float: right;
	right: 50px;
	top: 120px;
	position: fixed;
}

#themeHighlight{
	float: right;
	right: 50px;
	top: 160px;
	position: fixed;
}
.selection-box select {
	z-index: 10;
	width: 150px;
	color: black;
	font-weight: bold;
	border: 2px solid #666;
}

.session-actions {
	display: block;
	position: fixed;
	right: 40px;
	top: 250px;
}

.file-tab {
	position: relative;
}

#editorTab {
  margin: 0;
}

#editorTab .tab-link {
	float: left;
	padding-left: 8px;
	padding-right: 20px;
}

#editorTabContent {
  height: 100%;
  overflow: hidden;
}

.editor-wrapper {
  height: 100%;
}

.editorInstance {
  height: 100%;
}

.tab-close {
	position: absolute;
	top: 11px;
	right: 7px;
	cursor: pointer;
	float: left;
}

.etabs {
	margin: 0; padding: 0;
}

.tab {
	display: inline-block;
	zoom:1;
	*display:inline;
	background: #eee;
	border: solid 1px #999;
	border-bottom: none;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
}

.tab a {
	font-size: 14px;
	line-height: 2em;
	display: block;
	padding: 0 10px;
	outline: none;
}

.tab a:hover {
	text-decoration: underline;
}

.tab.active {
	background: #fff;
	padding-top: 6px;
	position: relative;
	top: 1px;
	border-color: #666;
}

.tab a.active {
	font-weight: bold;
}

.tab-container .panel-container {
	background: #fff;
	border: solid #666 1px;
	padding: 10px;
	-moz-border-radius: 0 4px 4px 4px;
	-webkit-border-radius: 0 4px 4px 4px;
}
