#github-login-container {
  margin: 20% auto;
  color: black;
  width: 220px;
  font-size: 1em;
  text-align: center;
}

#github-login-container a {
  font-size: 17px;
  text-decoration: none;
  color: #222;
  outline: 0;
}

#github-login-container a:hover,
#github-login-container a:focus {
  color: #fff;
}

#octocat-logo-big {
  display: block;
  width: 150px;
  margin: 20px auto;
}

#ex-tree {
  border: none;
  position: absolute;
  top: 120px;
  min-width: 220px;
  bottom: 98px;
  border-bottom: 1px solid #292936;
}