html {
  height:100%;
}

body {
  background-color: #666;
}

#content {
  position: relative;
  height: 91%;
}

#editorInstance {
  width:99%; height: 96%;
  padding:0; margin:0 auto;
}


/* GitHub Directory */
.tree {
    width: 250px;
    height: 100%;
}
