html {
  height:100%;
}

#editorInstance {
  width:95%;
  /* relative height seems not working... please take a look later */
  height: 600px;
  padding:0;
  margin:0 auto;
}

#fileDir, #slider, #chat, #video {
  display: none;
}

/* GitHub Directory */
.tree {
    width: 250px;
    height: 100%;
}
