html {
  height:100%;
}

body {
  background-color: #444;
}

.navbar {
	margin-bottom: 10px;
}

#content {
  position: relative;
  height: 91%;
}

/* GitHub Directory */
.tree {
	width: auto;
    height: 70%;
}


/* Github Commit box */
#commitBox {
  text-align: center;
}
#commitBox div {
  text-align: left;
}
#commitBox textarea{
  width: 95%;
}

