.modal-body{
  font-family:"Courier New",Courier,monospace;
  font-size: 100%;
}

.modal-body.ul.first-line{
    color:red;
}

.modal-body ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.modal-body li{
  margin-bottom: 30px;
}

.modal-body li::first-line{
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 28px;
}

.modal-header{
  font-family:"Courier New",Courier,monospace;
  color: #005580;
}

.modal-footer{
}

.navbar { font-weight: 700; }

/*#navbarRight {
	float:right;
}


#navbarRight ul {
  margin: 0;
  padding: 5px;
  list-style-type: none;
  text-align: right;
}

#navbarRight ul li {
  display: inline;
}

#navbarLeft{
	float: left;
}

#navbarLeft ul {
  margin: 0;
  padding: 5px;
  list-style-type: none;
  text-align: left;
}

#navbarLeft ul li {
  display: inline;
  padding-left: 20px;
  font-family:"Courier New",Courier,monospace;
  font-weight: bold;
}
*/

#info-container {
  position: absolute; top: 100; left: 100;
  width: 6%; height: 5%;
  transition: all 300ms ease;
  z-index: 2;
}
#info-container:hover {
  width: 25%; height: 80%;
  background-color: #ddd;
  position: absolute; top: 100; left: 100;
}

#info-container #canvas{
  width: 0; height: 0;
  opacity: 0;
}
#info-container:hover #canvas{
  width: 100%; height: 100%;
  opacity: 1;
}

#info-container .well {
  display: none;
}
