#navbarLeft {
	float:left;
}


#navbarLeft ul { 
  margin: 0; 
  padding: 5px; 
  list-style-type: none; 
  text-align: left; 
  /*background-color: #000; */
} 
 
#navbarLeft ul li {  
  display: inline; 
} 

#navbarRight{
	float: right;
}

#navbarRight ul { 
  margin: 0; 
  padding: 0px; 
  list-style-type: none; 
  text-align: right; 
} 
 
#navbarRight ul li {  
  display: inline; 
  padding-left: 20px;
  font-family:"Courier New",Courier,monospace;
  font-weight: bold;
} 