.navbar .nav{
  float:none;
}

.navbar-inner{
  overflow: hidden;
}

.view .modal {
  width: 1060px;
  margin-left: -530px;
}

.modal-body{
  font-size: 100%;
}

.modal-body.ul.first-line{
    color:red;
}

.modal-body #repolist ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.modal-body #repolist li{
  margin-bottom: 30px;
}

.modal-body #repolist li::first-line{
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 28px;
}

.modal-body li{
  list-style-type: none; 
}

.modal-body h5{
  font-style: italic;
  font-weight: 700;
  font-size: 100%;
}

.modal-body h4{
  margin-left: 25px;
}

.modal-header{
  color: #005580;
}

.modal-footer{
}

.navbar {
  font-weight: 700;
}

.navbar a{
  padding-left: 10px;
}

#info-container {
  position: absolute; top: 100; left: 100;
  width: 6%; height: 5%;
  transition: all 300ms ease;
  z-index: 2;
}
#info-container:hover {
  width: 25%; height: 80%;
  background-color: #ddd;
  position: absolute; top: 100; left: 100;
}

#info-container #canvas{
  width: 0; height: 0;
  opacity: 0;
}
#info-container:hover #canvas{
  width: 100%; height: 100%;
  opacity: 1;
}

#info-container .well {
  display: none;
}

#preview-btn-container {
  line-height: normal;
}

#feature-intro li {
  margin: 20px 0;
}

#report-bugs {
  font-size: 13px;
  font-weight: normal;
}

#about h2 {
  color: #005580;
}

#team-photo {
  width: 800px;
}

#parnters li {
  margin: 30px 0;
}

#parnters li a {
  color: #000;
}

/*#navbarRight {
    float:right;
}


#navbarRight ul {
  margin: 0;
  padding: 5px;
  list-style-type: none;
  text-align: right;
}

#navbarRight ul li {
  display: inline;
}

#navbarLeft{
    float: left;
}

#navbarLeft ul {
  margin: 0;
  padding: 5px;
  list-style-type: none;
  text-align: left;
}

#navbarLeft ul li {
  display: inline;
  padding-left: 20px;
  font-family:"Courier New",Courier,monospace;
  font-weight: bold;
}
*/
