
#preview-btn {
  z-index: 3;
  font-weight: normal;
}

#previewWindow {
  width: 1024px; height: 640px;
  margin-left: -540px;
  margin-top: -40px;
}

#previewWindow .modal-body {
  width: 1024px;
  height: 600px;
  max-height: 640px;
}

#previewWindow .modal-body iframe{
  width: 99%; height: 95%;
}
