#user-container {
  height: 30%;
  font-weight: 700;
  z-index: 2;
  /*background-color: yellow;*/
  overflow: auto;
  border-top: 1px solid #515455;
}

.user-instance {
  float: left; 
  width: 144px;
  margin: 6px;
  border-radius: 2px;
  color: #333; background-color: #ccc;
  opacity: 0.85; overflow: hidden;
  box-shadow: 1px 1px 3px 1px #333;
  transition: all 300ms ease;
  cursor: pointer;
}

.user-instance:hover {
  /*width: 160px; height: 120px;*/
  width: 160px;
  opacity: 1;
}

.username {
  height: 1.2em;
  padding: 3px;
}